<div id="navbar"></div>
<div class="container root-page">
  <div id="content"></div>
  <div id="games">
    <div class="about">
      <h3>Contact Cindy Van Dooren</h3>
      <%= image_tag("http://res.cloudinary.com/#{ENV['CLOUD_NAME']}/image/upload/c_scale,h_156/v1440891890/Cindy_Van_Dooren_xzsxxn.jpg", class: "profile-img") %>
      <ul class="icons">
        <li><a href="https://github.com/cindyvandooren"><i class="fa fa-github fa-3x"></i></a></li>
        <li><a href="https://www.linkedin.com/in/cindyvandooren"><i class="fa fa-linkedin fa-3x"></i></a></li>
        <li><a href="https://www.cindyvandooren.com"><i class="fa fa-home fa-3x"></i></a></li>
      </ul>
    </div>
    <div class="games snake">
      <a href="https://www.cindyvandooren.com/Snake"><h3>Click to play Snake</h3></a>
      <a href="https://www.cindyvandooren.com/Snake">
        <%= image_tag("http://res.cloudinary.com/#{ENV['CLOUD_NAME']}/image/upload/c_scale,w_293/v1440890466/Screen_Shot_2015-08-29_at_16.20.32_ktho1f.png", class: "snake-img") %>
      </a>
    </div>
  </div>
</div>

<script> $( document ).ready(
  function () {
    Spacebook.CURRENT_USER_ID = <%= current_user.id %>;
    Spacebook.initialize();
  }
);
</script>
