<div id="navbar"></div>
<div id="content"></div>

<script> $( document ).ready(
  function () {
    Spacebook.CURRENT_USER_ID = <%= current_user.id %>;
    Spacebook.CURRENT_USER_NAME = "<%= current_user.username %>";
    Spacebook.CURRENT_USER_TINY_THUMB_URL = "<%= current_user.tiny_thumbnail_img_url %>";
    Spacebook.CURRENT_USER_THUMB_URL = "<%= current_user.thumbnail_img_url %>";
    Spacebook.initialize();
  }
);
</script>
