<nav class="nav-sidebar">
	<ul class="nav tabs">
        <li class="active sidebar-timeline"><a href="javascript:void(0)">Timeline</a></li>
        <li class="sidebar-about"><a href="javascript:void(0)">About</a></li>
        <li class="sidebar-friends"><a href="javascript:void(0)">Friends</a></li>
	</ul>
</nav>

<div class="invitations">
	<h2>Pending invitations</h2>
	<div class="sent-invitations invitations"></div>
	<div class="received-invitations invitations"></div>
</div>

<div class="friends"></div>
