<nav class="nav-sidebar">
	<ul class="nav tabs">
    <li class="active sidebar-timeline">
			<a href="javascript:void(0)">Timeline</a>
		</li>
    <li class="sidebar-about">
			<a href="javascript:void(0)">About</a>
		</li>
    <li class="sidebar-friends">
			<a href="javascript:void(0)">Friends</a>
		</li>
	</ul>
</nav>

<div class="sidebar-invitations-list">
	<h3>Pending invitations</h3>
	<div class="all-invitations"></div>
</div>

<div class="sidebar-friends-list">
	<h3>Friends</h3>
	<div class="friends"></div>
</div>
