// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-main-box {
  width: 851px;
  margin-left: 75px;
  margin-top: -23px;
}

.profile-header {
  height: 273px;
  width: 851px;
  border-radius: 5px;
  border: 1px solid #3a5795;
}

.profile-header-picture {
  height: 168px;
  width: 168px;
  padding: 52px;
}

.profile-header-picture img {
  border: 4px solid white;
  border-radius: 5px;
}

.profile-header-name {
  width: 400px;
  height: 40px;
  font-size: 48px;
  font-weight: 500;
  color: white;
  margin-left: 250px;
  text-shadow: 2px 2px 2px #000;
}

.profile-header-info {
  width: 150px;
  margin-left: 700px;
}

p.friends {
  margin-left: 52px;
  color: white;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  border-color: #3b6e22 #3b6e22 #2c5115;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border: 1p solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}

p.invitation-pending {
  color: white;
  margin-left: -30px;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  border-color: #3b6e22 #3b6e22 #2c5115;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border: 1p solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}

.btn.btn-primary.become-friends {
  margin-left: -45px;
}
