.profile-sidebar {
  float: left;
  width: 323px;
  position: absolute;
}

.sidebar-navigation {
  height: 128px;
  font-size: 16px;
  font-family: 'Freight Sans Bold', 'lucida grande',
               tahoma,verdana,arial,sans-serif;
  margin-top: 20px;
  border: 1px #3a5795 solid;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px #ADA8A8;
}

.sidebar-friends-list {
  border: 1px #3a5795 solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ADA8A8;
  background-color: white;
  margin-top: 20px;
}

.sidebar-invitations-list {
  border: 1px #3a5795 solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ADA8A8;
  background-color: white;
  margin-top: 20px;
}

.invitation-index-item {
  margin-left: -24px;
}

ul.friends-list {
  padding-left: 15px;
}

.friends-list > li {
  padding-top: 10px;
}
