<form>
<textarea name="body"
          id="body"
          class="create-post-body"
          placeholder="What's on your mind?"><%= post.escape('body') %></textarea>
<br>

<% if (post.isNew()){ %>
  <input class="btn btn-primary create-post" value="Post">
  <input type="hidden" name="timeline_id" value="<%= timeline_id %>">
<% } else { %>
  <input class="btn btn-primary edit-post" value="Done">
<% } %>
</form>
