<% var id = parseInt(user.escape('id')) %>
<% var like = likes.findWhere({'liker_id': id}); %>

<div class="like-unlike">
  <% if (like) { %>
    <button class="unlike-post btn"><i class="glyphicon glyphicon-thumbs-down"></i></button>
  <% } else { %>
    <button class="like-post btn"><i class="glyphicon glyphicon-thumbs-up"></i></button>
  <% } %>
</div>

<div class="num-likes">
  <% if (num > 1) { %>
    <p>This post has <%= num %> likes.</p>
  <% } else if (num === 1) { %>
    <p>This post has <%= num %> like. </p>
  <% } %>
</div>
