<div class="sidebar-invitations-list">
	<h3>Your Pending invitations</h3>
	<div class="all-invitations"></div>
</div>

<div class="sidebar-friends-of-friends-list">
	<h3>You may know...</h3>
	<div class="friends-of-friends"></div>
</div>
