<div class="feed-sidebar-invitations-list">
	<h3>Pending invitations</h3>
	<div class="sent-invitations invitations"></div>
	<div class="received-invitations invitations"></div>
</div>

<div class="feed-sidebar-friends-list">
	<h3>Friends</h3>
	<div class="friends"></div>
</div>
