<a href="/#/profiles/<%= friendOfFriends.escape('id') %>"><img src="<%= friendOfFriends.escape('thumbnail_img_url') %>"/></a>
<a href="/#/profiles/<%= friendOfFriends.escape('id') %>"><%= friendOfFriends.escape('username') %></a>
