.feed-sidebar-invitations-list {
  border: 1px #3a5795 solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ADA8A8;
  background-color: white;
  margin-top: 20px;
  font-size: 14px;
}

.feed-sidebar {
  margin-top: -20px;
}

.feed-sidebar-friends-list {
  border: 1px #3a5795 solid;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ADA8A8;
  background-color: white;
  margin-top: 20px;
}

.invitations-list > .invitation-index-item:after {
  clear: both;
  content: "";
  display: block;
}

.invitations-list > .invitation-index-item {
  position: relative;
  margin-bottom: 20px;
  height: 55px;
}

.invitation-index-item > a {
  position: absolute;
  float: left;
}

.invitation-index-item:last-child {
  margin-bottom: 0px;
}

.invitation-index-item > div {
  margin-left: 50px;
  position: absolute;
  float: right;
  font-size: 14px;
  height: 100%;
  width: 200px;
}

.invitation-index-item > .invitation-buttons {
  margin-left: 260px;
  width: 20px;
  font-size: 12px;
}

.invitation-buttons > button {
  background-color: white;
  color: grey;
  border: none;
  font-size: 14px;
}

.glyphicon-ok:hover {
  color: green;
}

.glyphicon-remove:hover {
  color: red;
}
