<div class="m-background"></div>

<div class="m-content">
  <button class="close-button">&times;</button>
  <h2>Search results</h2>

  <% if (fetched) { %>
    <div class="search-results">
      <% if (users.length < 1) { %>
        <p>No match found.</p>
      <% } %>
       <ul class="search-result-list"></ul>
    </div>
  <% } else { %>
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  <% } %>
</div>
