<a href="#/profiles/<%= user.escape('id') %>"><img src="<%= user.escape('thumbnail_img_url') %>"></a>
<a href="#/profiles/<%= user.escape('id') %>" class="user-profile"><%= user.escape('username') %></a>
