<div class="m-background"></div>

<div class="m-content">
  <button class="close-button">&times;</button>
  <h2>Search results</h2>  
  <div class="search-results">
    <% if (users.length < 1) { %>
      <%= "No match found." %>
    <% } %>
     <ul class="search-result-list"></ul>
  </div>
</div>
