<div class="profile-main-box">
  <div class="profile-header profile"></div>
  <div class="profile-non-header">
    <div class="profile-sidebar profile"></div>
    <div class="profile-content profile"></div>
  </div<
</div>
