/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background-color: #edf0f5;
   font-family: 'Freight Sans Bold', 'lucida grande',
                tahoma,verdana,arial,sans-serif;
   font-size: 12px;
 }

 body.modal-scroll {
   overflow: hidden;
 }

 ul {
   list-style-type: none;
 }

 h2 {
   font-family: 'Freight Sans Bold', 'lucida grande',
                tahoma,verdana,arial,sans-serif;
   font-size: 24px;
   color: #3a5795;
   padding-left: 10px;
 }

 h3 {
   font-family: 'Freight Sans Bold', 'lucida grande',
                tahoma,verdana,arial,sans-serif;
   font-size: 16px;
   color: #3a5795;
   padding-left: 10px;
   margin-top: 5px;
 }

 .navbar {
   background-color: #3a5795;
   position: relative;
   font-family: 'Freight Sans Bold', 'lucida grande',
                tahoma,verdana,arial,sans-serif;
   border: 1px solid #3a5795;
   border-radius: 0px;
 }

 .navbar-brand {
   font-family: 'Freight Sans Bold', 'lucida grande',
                tahoma,verdana,arial,sans-serif;
   color: white;
   cursor: pointer;
 }

 .navbar-default .navbar-brand {
   color: white;
 }

 .btn-primary {
   background-color: rgb(238, 238, 238);
   color: black;
   font-family: 'Freight Sans Bold', 'lucida grande',
                tahoma,verdana,arial,sans-serif;
 }

 .navbar-default .navbar-nav > li > a {
   color: white;
   font-size: 16px;
 }

 .panel {
   background-color: transparent;
 }

 #form > div {
   margin-bottom: 25px;
 }

 #form > div:last-child {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .panel-default > .panel-heading {
   background-color: #3a5795;
   color: white;
   font-family: 'Freight Sans Bold', 'lucida grande',
                 tahoma,verdana,arial,sans-serif;
 }

.panel-body {
   padding-top: 30px;
   background-color: rgba(2555,255,255,.3);
 }

.pull-right {
   background: linear-gradient(#67ae55, #578843);
   background-color: #69a74e;
   box-shadow: inset 0 1px 1px #a4e388;
   border-color: #3b6e22 #3b6e22 #2c5115;
}

.glyphicon:hover {
  color: #3a5795;
}

@media (max-width: 1034px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        //TODO: background color needs adjustment!
        background-color: rgba(0, 0, 0, 0);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
        background-color: rgba(0, 0, 0, 1);
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
