.navbar.root {
  height: 42px;
}

.navbar-brand.root{
  font-size: 28px;
}

.menu-root:first-child {
   position: relative;
}

.menu-root:first-child:after {
   content: "";
   clear: both;
   display: block;
}

.thumbnail-link {
   position: absolute;
   float: left;
   padding-right: 0px;
   margin-top: -5px;
}

.username-link {
   position: absolute;
   float:right;
   padding-left: 0px;
   margin-left: -15px;
}

.navbar-default.root {
  padding: 0px;
}

.navbar-collapse.root {
  padding: 0px;
}

.btn-primary.root {
  margin: 8px 22px;
}

//Navbar for root page
.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
}
