.navbar.root {
  height: 42px;
}

.navbar-brand.root{
  font-size: 28px;
}

.form-control.search-form {
  width: 80%;
}

.input-group.root {
  width: 100%;
}

.menu-root:first-child {
   position: relative;
}

.menu-root:first-child:after {
   content: "";
   clear: both;
   display: block;
}

.thumbnail-link {
   position: absolute;
   float: left;
   padding-right: 0px;
   margin-top: -5px;
}

.username-link {
   position: absolute;
   float:right;
   padding-left: 0px;
   margin-left: -15px;
}

.navbar-default.root {
  padding: 0px;
}

.navbar-collapse.root {
  padding: 0px;
}

.btn-primary.root {
  margin: 8px 22px;
}

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 30%;
  background-color: white;
  padding: 1pc;
  border: 1px solid #3a5795;
  border-radius: 5px;
  width: 500px;
  height: 500px;
}

.m-content ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.m-content ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.search-result-list-item {
  padding: 10px;
  font-size: 16px;
}

.search-results {
  height: 380px;
  overflow: scroll;
  overflow-y: visible;
}

.close-button {
  color: grey;
  font-size: 20px;
  margin-left: 95%;
  background: white;
  border: none;
}

.m-content > h2 {
  width: 200px;
  margin-top: - 20px;
  margin-bottom: 40px;
}

table.notifications-index-item {
  font-size: 16px;
  margin-left: 30px;
  width: 400px;
}

.m-content > table {
  position: relative;
}

tbody {
  position: relative;
  width: 400px;
}

tr.notifications-item {
  height: 40px;
  margin-left: 20px;
  position: relative;
}

.notifications-item > p {
  padding-top: 10px;
  padding-left: 7px;
}

.m-content > p {
  margin-left: 15px;
}

.m-error-content {
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: white;
  padding: 1pc;
  border: 1px solid #3a5795;
  border-radius: 5px;
  width: 500px;
  height: 200px;
}

.m-error-content > h2 {
  width: 200px;
  margin-top: - 20px;
  margin-bottom: 40px;
}

.m-error-content > p {
  margin-left: 15px;
}
