// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert.alert-danger {
   width: 1200px;
   font-size: 16px;
 }

 .welcome-message {
   font-size: 24px;
   text-shadow: 1px 1px #ada8a8;
   margin-left: 20px;
   margin-right: 20px;
   text-align: center;
   color: #3a5795;
 }

 .welcome-title {
   margin-left: 20px;
   margin-right: 20px;
   font-size: 32px;
   text-align: center;
   text-shadow: 1px 1px #ada8a8;
   color: #3a5795;
 }

.navbar.landing {
   height: 82px;
 }

.navbar-brand.landing {
   font-size: 36px;
 }

.navbar-brand.landing {
   padding: 30px;
 }

#signin {
   margin: 25px;
 }

.home-img {
   margin-top: 102px;
   margin-left: 45px;
   float: left;
   position: absolute;
   border: 1px white solid;
   border-radius: 5px;
 }

#loginbox {
   margin-top: 0px;
   width: 400px;
   padding-top: 100px;
   float: right;
   position: absolute;
 }

#loginbox > div:first-child {
   padding-bottom: 10px;
   float: left;
 }

.container.landing-content {
   position: relative;
 }

.container.landing-content:after {
   content: "";
   display: block;
   clear: both;
 }

 @media only screen and (max-width: 768px){
   .home-img{
     display: none;
   }
 }

.btn.btn-primary.guest-sign-in {
  background: linear-gradient(#f7f408, #f2d406);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #e3De88;
  border-color: #3b6e22 #3b6e22 #2c5115;
}
